version: '3'

services:
  app:
    container_name: camino_api_app
    image: node:16.10-alpine
    volumes:
      - ./:/app
    working_dir: /app
    depends_on:
      - db
    environment:
      PGHOST: db
    ports:
      - ${PORT}:${PORT}
    command: npm run dev

  db:
    container_name: camino_api_db
    image: postgres:12
    environment:
      PGUSER: ${PGUSER}
      POSTGRES_USER: ${PGUSER}
      POSTGRES_PASSWORD: ${PGPASSWORD}
      POSTGRES_DB: ${PGDATABASE}
    expose:
      - ${PGPORT}
    volumes:
      - data:/var/lib/postgresql/data

volumes:
  data: {}
