version: '3'

services:
  app:
    container_name: camino_api_app
    image: caminofr/camino-api
    depends_on:
      - db
    environment:
      VIRTUAL_HOST: ${URL}
      VIRTUAL_PORT: ${NODE_PORT}
      LETSENCRYPT_HOST: ${URL}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL}
      PGHOST: db
    expose:
      - ${NODE_PORT}
    volumes:
      - files:/app/files
      - ./.env:/app/.env
    networks:
      - default
      - nginx-proxy
    restart: always

  db:
    container_name: camino_api_db
    image: postgres:12-alpine
    environment:
      PGUSER: ${PGUSER}
    expose:
      - ${PGPORT}
    networks:
      - default
    volumes:
      - data:/var/lib/postgresql/data

volumes:
  data: {}
  files:

networks:
  nginx-proxy:
    external: true
